/*ADDED FONTS*/
@font-face {
    font-family: 'Source Sans Pro Light';
    src: url("resources/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url("resources/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

/*GENERAL*/
html {
    width: 100vw;
    height: 100vh;
}

body, p, h1, h2, h3, h4, label, a {
    background: black;
    font-family: 'Source Sans Pro Light', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    margin: auto auto auto auto;
}

body {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/*CLASSES*/
.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.parallel {
    height: 100%;
    transform: skew(175deg);
    float: right;
}

.sideways {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: none;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: 'Source Sans Pro Regular', sans-serif;
}

.img-link {
    width: 1.7vw;
    padding-bottom: 1vh;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
}

.img-links {
    width: inherit;
    height: auto;
    position: absolute;
    bottom: 0;
}

.vtuber {
    width: 40vw;
    display: block;
    position: absolute;
    background: #1D1B1D;
    right: 0vw;
}

.colour {
    height: 100%;
    width: 0.7vw;
    max-width: 10px;
    float: left;
}

.vtuber:hover .colour {
    filter: brightness(120%);
}

.tab {
    height: 100%;
    width: 2.5vw;
    max-width: 114px;
    float: left;
}

.bio {
    height: 100%;
    width: 36vw;
    float: left;
    position: relative;
    opacity: 0;
}

.imgtuber {
    transform: skew(5deg);
    width: auto;
    max-height: 80%;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    bottom: 0;
}

.twitter-timeline {
    float: right;
    width: 9vw !important;
    min-width: 160px !important;
}

.big {
    width: 100%;
    height: 100%;
    position: absolute;
    background:rgba(0, 0, 0,0.4);
    z-index: 7;
}

.content {
    border-radius: 10px;
    background: #1D1B1D;
    width: 40vw;
    height: 50vh;
    margin: 25vh auto;
    display: block;
    z-index: 8;
}

/*IDS*/
#tp {
    width: 100vw;
    height: 17vh;
}

#vtubers {
    margin-top: 5px;
    width: 100vw;
    height: calc(81vh - 5px);
    overflow: hidden;
    position: relative;
}

#btm {
    width: 100vw;
    height: 1vh;
}

#empty {
    right: -5vw;
    z-index: 0;
}

#lamork {
    right: -32vw;
    z-index: 4;
}

#tipanya {
    right: -28.8vw;
    z-index: 3;
}

#chenna {
    right: -25.6vw;
    z-index: 2;
}

#teru {
    right: -22.5vw;
    z-index: 1;
}

#info {
    min-width: 200px !important;
    left: 0vw;
    z-index: 2;
}

/*ANIMATIONS*/
.open {
    animation: open_animation 2s forwards;
    position: absolute;
}

.close {
    animation: close_animation 2s forwards;
    position: absolute;
}

.visible {
    animation: fade_in 2s forwards;
}

.invisible {
    animation: fade_out 1s forwards;
}

@keyframes open_animation {
    0% {transform: translateX(0vw) skew(175deg);}
    100% {transform: translateX(-30vw) skew(175deg);}
}

@keyframes close_animation {
    0% {transform: translateX(-30vw) skew(175deg);}
    100% {transform: translateX(0vw) skew(175deg);}
}

@keyframes fade_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade_out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}